*.[0-9]/
newsboat/**/urls
kitty/**/current-theme.conf
mutt/**/.mailsynclastrun
mpd/**/log
mpd/**/state
database
systemd/.config/systemd/user/*.wants
github-token
*.bak
*.fifo
*.gpgrc
*.out
*.save
*.sql
*.sqlite3
*.tmp
*.zip
*.zcompdump

