[Unit]
Description=Run backup daily or at boot if missed

[Timer]
OnCalendar=20:00
# Run 1 minute after boot
OnBootSec=1min
# Persistent ensures missed runs (while system was off) execute on next boot
Persistent=true

[Install]
WantedBy=timers.target
