[Unit]
Description=Turn off WLED LEDs on Suspend
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
User=tong
RemainAfterExit=yes
ExecStart=/home/tong/.local/bin/dark-side-of-the-monitor off
ExecStop=/home/tong/.local/bin/dark-side-of-the-monitor on

[Install]
WantedBy=sleep.target
