/* @import "../omarchy/current/theme/waybar.css"; */
@define-color background #282828;
@define-color foreground #d4be98;
@define-color red #cc241d;
@define-color green #98971a;
@define-color yellow #d79921;
@define-color blue #458588;
@define-color magenta #b16286;
@define-color cyan #689d6a;
@define-color gray #a89984;

@define-color red_light #fb4934;
@define-color green_light #b8bb26;
@define-color yellow_light #fabd2d;
@define-color blue_light #83a598;
@define-color magenta_light #d3869b;
@define-color cyan #8ec07c;
@define-color gray_dark #928374;

/* -------------------------------------------------------------------------- */

@keyframes alarm {
  0% {
    background: #000;
    color: #fff;
  }
  80% {
    background: @red;
  }
}

@keyframes urgent {
  0% {
    background: @background;
    color: @foreground;
  }
  50% {
    background: @foreground;
    color: @background;
  }
}

@keyframes workspace-activate {
  0% {
    border-color: @background;
  }
  100% {
    border-color: @foreground;
  }
}

/* -------------------------------------------------------------------------- */

* {
  color: @foreground;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font Mono", monospace;
  font-size: 12px;
}

window, #waybar {
  background: none;
}

.hidden {
  opacity: 0;
}

.modules-left {
  margin-left: 6px;
}

.modules-left>widget:last-child {
  /* background: blue; */
}

.modules-right {
  margin-right: 8px;
}

.modules-right>widget>* {
  /* background: blue; */
}


widget {
  /* margin-right: 8px; */
  /* padding: 0 8px; */
  /* background: white; */
}
widget>* {
  /* margin-right: 8px; */
  /* margin: 0 8px; */
  /* padding: 0 8px; */
  /* padding: 20px 0.25rem 0px 0.25rem; */
}

tooltip {
  padding: 2px;
}
tooltip label {
  /* padding: 2rem 1.5rem; */
  /* background:red; */
}

/* #custom-expand-icon { */
/*   margin-right: 7px; */
/* } */

/* -------------------------------------------------------------------------- */

#bluetooth, #memory, #network, #pulseaudio {
  margin-right: 8px;
}

#clock {
  /* margin-left: 8.75px; */
  /* background: yellow; */
  /* animation: urgent 0.8s ease-in-out infinite; */
}

#cpu {
  /* margin-right: 1px; */
}

#mpris {
  color: @gray_dark;
}

#network {
}

#network.disconnected {
  background-color: @red;
}

#performance {
  /* background: red; */
}

#pulseaudio {
}

#pulseaudio.muted {
  /* color: #141414; */
}

#temperature {
}
#temperature.critical {
  font-weight: bold;
  background: @red;
  padding-left: 1rem;
  padding-right: 1rem;
  animation: alarm 0.5s infinite alternate;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  border-top: 1px solid @background;
}

#workspaces button.active {
  border-color: @foreground;
  /* animation: workspace-activate 0.3s ease-in-out 1 forwards; */
}
#workspaces button.active.animated {
  /* animation: workspace-activate 1s ease-in-out 1; */
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.urgent {
  background: @red;
  animation: urgent 2s infinite alternate;
}

#tray {
 margin-left: 0.5rem;
}
